@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --font-size-base: 16px;
  }

  /* NAVBAR */
  #avatar {
    display: none;
  }

  #nav-bar .container {
    justify-content: center;
  }

  #nav-bar .each-nav {
    width: 20%;
    height: 50px;
    justify-content: center;
    border-left: 1px solid var(--bs-gray);
  }

  #nav-bar .each-nav:nth-child(3) {
    display: none;
  }

  #nav-bar .each-nav:last-child {
    border-right: 1px solid var(--bs-gray);
  }

  /* ABOUT */
  #about .container {
    justify-content: center;
  }

  #about .container > div {
    width: 50%;
    margin: 0 2rem;
  }

  /* JOB INFO */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  /* CERTIFICATE */
  #certificate .container > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    justify-content: space-around;
  }

  .each-certificate img {
    width: 100%;
    margin-right: 1rem;
  }

  .each-certificate:nth-child(2) {
    border-left: 1px solid var(--bs-gray);
    padding-left: 1rem;
  }

  .each-certificate:nth-child(odd) {
    padding-right: 1rem;
  }

  .each-certificate .d-flex {
    flex-direction: column;
  }

  /* PROJECT */
  #project .container > div {
    grid-template-columns: repeat(3, 1fr);
  }

  /* FOOTER */
  #footer .container ul li {
    margin: 0px 2rem;
  }
}
